/* .search-form {
  margin-top: 2em;
  text-align: center;
}
.search-form input {
  width: 200px;
}

.weather-details {
  display: inline-flex;
}
.current-cond-container {
  border: 1px solid black;
  padding: 10px;

  width: fit-content;
}

.forecast-div {
  text-align: center;
  border: 1px solid black;
  margin-right: 1em;

  width: 180px;
  height: 180px;
}

.weather-container {
  display: grid;
  text-align: center;
}
.weather-div {
  display: flex;
}
.weather-details-btns {
} */
